.classpath
.project
*/target/
*~
*.bak
*~
*.orig
*/nb-configuration.xml
**/context.xml
**/.settings/
/geoservices-geocoding-portals-solr-config/data/
/geoservices-geocoding-portals-solr-config/conf/dataimport-devel.properties
